# Default
* @k-macmillan

# k-macmillan campaigns
**/*k-macmillan* @k-macmillan

# katiemacmillan campaigns
**/*katiemacmillan* @katiemacmillan

# Tyler-Henson campaigns
**/*Tyler-Henson* @Tyler-Henson
